
body{
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%;
    color: black;

    @include respond(tab-land){
        font-size: 56.25%; //1rem = 8px, 8/16 = 50%
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(big-desktop){
        font-size: 65%;

    }
}