
.product{

    &__name{
        font-size: 4.5rem;
        margin-right: 2rem;
    }

    &__price{
        font-size: 2.5rem;

    }

}

.white{
    color: white;
}

.admin-link{
    font-size: 2rem;
    color: black;

}

.heading{
    font-size: 6rem;
}

.medium-text{
    font-size: 3rem;
}