.my-dash{
    margin-top: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;

}

.dash-link{
    color: black;
    font-size: 2rem;
    font-weight: 600;

}

.dash-item{
    color: black;
    font-size: 2rem;
    list-style-type: none;
    font-weight: 600;

}

.dash-title{
    font-size: 3rem;
    font-weight: 800;
}