.sign-in{
    font-size: 3rem;
}

.sign-in button{
    font-size: 1.5rem;
    background-color: rgb(53, 71, 63);
    padding: 1.2rem 2rem;
    border-radius: 25px;
    border: none;
    margin-top: 2rem;
}

.sign-in input{
    padding: 3rem;
    font-size: 3rem;

}